<div class="container">
    <h2 id="about">About me</h2>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
        <div fxFlex="40">
            <img src="https://res.cloudinary.com/dmntqdxsy/image/upload/v1602042281/jsdevblog/jspicture_j7ekru.jpg"
                alt="Picture of Jeff & baby">
        </div>
        <div fxFlex="60">
            <p>
                Welcome!
            </p>
            <p>
                My background is metallurgy. I have a vivid memory of asking my 3rd grade teacher why it was that the
                metal legs of my desk felt cooler to the touch than the wooden desktop, even though they were both in
                the same room so presumably the same temperature. She did not know, and I decided right then that when I
                grew up I would find out the answer in depth (the internet was not really a thing yet).
            </p>
            <p>
                Fast forward to college and I found out in the introductory engineering courses that these sorts of
                things are the purview of the field of materials science and engineering, which I have studied and
                worked in for the past twenty years.
            </p>
        </div>
    </div>

    <p>
        No field exists in isolation, and it is really handy to know how to code in any technical job. I used to work
        with someone who made a career out of writing LabView software programs to control all the custom materials
        research equipment in the department. There was always some new feature needed, or a new system that needed to
        be designed, and he was always in high demand as the only person who knew LabView in a building full of
        metallurgists and ceramists. I've been lucky enough to be able to learn how to write Python scripts to help
        program industrial robots in my day job, but have also suffered many times when I wanted some custom software
        but didn't know anyone who could make it. I've also noticed that even though developing new materials and
        processes is important for society, regular people don't really need help with this expertise. In contrast,
        almost everyone could use computer or software help now and again.
    </p>
    <blockquote>
        <p>
            "The best time to plant a tree was 20 years ago. The second best time is right now."
        </p>
    </blockquote>

    <p>
        Finally I could stand it no more and decided to learn how to make useful software programs and websites, to help
        both myself and others. This website is the public journal of that process. Thanks for visiting, and feel free
        to get ahold of me through e-mail (<a href="mailto:hello@jeffschoonover.dev"
            style="text-decoration:underline">hello@jeffschoonover.dev</a>) or <a
            href="https://www.linkedin.com/in/jeffrey-schoonover-362959a/">LinkedIn</a>.
    </p>

    <p>Jeff</p>
    <hr>
    
    <h2>Certifications</h2>

    <ul>
        <li>
            <a href="https://www.udemy.com/certificate/UC-0f2d805d-e335-441f-9dfd-5b5ccfae8ebe/">Angular - The Complete Guide</a> (Maximillian Schwartzmuller on Udemy): This is one of the highest rated and most popular Angular courses on Udemy.  A great introduction.  After completing this course I feel like I know what I don't know, and will be able to use the right terms to find answers when needed.
        </li>
        <li>
            <a href="https://www.freecodecamp.org/certification/jjschooney/javascript-algorithms-and-data-structures">Javascript Algorithms and Data Structures</a> (freecodecamp.org): Freecodecamp is both free and good.  Real time practice and immediate feedback.  If you've never used it check it out!  They have tutorials on web development, data science with python, you name it.
        </li>
        <li>
            GE Analytics Engineer: You'll have to trust me on this one as it is an internal corporate certification.  It involved completing two MOOCS and passing a peer-graded report analyzing some internal data on optimizing wind mills.  I wrote the report in R-studio.  The courses I chose were Andrew Ng's <a href="https://www.coursera.org/learn/machine-learning">Machine Learning course on Coursera</a> and the Stanford class <a href="https://online.stanford.edu/courses/sohs-ystatslearning-statistical-learning">An Introduction to Statistical Learning, with Applications in R</a>.
        </li>
    </ul>


</div>
<app-footer></app-footer>