<div class="container">
    <h1><h2 id="learn-in-public">Learn in Public</h2></h1>
    <p>
        This is my To-Learn list. I was inspired to put it here for everyone to see after reading about the idea of
        learning in public on <a href="https://www.taniarascia.com/">Tania Rascia's website</a>, where she links to the
        original article at <a href="https://www.swyx.io/writing/learn-in-public/">swyx.io</a>. Right now I'm focused
        building this website and some software to help me at work, so this list will focus on those two areas for now.
    </p>
    <p>
        When I learn something on this list, I will write a blog post about it. The idea is write the article I wish I
        had found when I was learning. This is guaranteed to help at least one person (me!), and hopefully will help
        others coming after me as well.
    </p>

    <h2 id="jeffschoonoverdev">jeffschoonover.dev</h2>

    <p>
        I'm making this website with the Angular web framework and Scully. I'm using Angular for my Routerbase software
        project and it makes sense to get more practice with it by using it for my website. Scully is a Static Site
        Generator for Angular. Static sites are more secure and load faster.
    </p>
    
    <ul>
        <li>
            Using Github. The Github website is the most popular place to upload and share
            software code. I will use it to host the code for this website for Netlify to go get every time it gets
            updated. 
        </li>
        <li>
            Search Engine Optimization with Angular/Scully project. I want to make sure that Google can properly crawl
            and index the site.
        </li>
        <li>
            Website performance. High speed and low size. A never-ending rabbit hole, I know, but I want to be
            competent.
            <ul>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/09/improve-website-performance-by-embedding-icons/">Improve your website's performance by embedding SVG icons</a>
                </li>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/09/measure-the-performance-of-your-website-with-lighthouse/">Measure the performance of your website with Lighthouse</a>
                </li>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/09/decrease-initial-load-size-by-lazy-loading-modules/">Decrease your website's initial load size by lazy loading modules</a>
                </li>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/11/scully-plugin-disable-angular/">Get much faster load times on your Scully static website with the Scully Plugin Disable Angular</a>
                </li>
            </ul>  
        </li>
        <li>
            Website security. Especially understanding what cross-site-scripting (XSS) attacks are and how to guard
            against them.
            <ul>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/10/content-security-policy-background/">Improve your website's security by implementing a content security policy</a>
                </li>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/10/implementing-content-security-policy-netlify/">Implementing a Content Security Policy on Netlify</a>
                </li>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/10/more-headers-for-website-security/">More headers for website security</a>
                </li>
            </ul>
        </li>
        <li>
            Markdown: extra formatting, and how to get that into Scully (for example, footnote support, smileys).
            Accurate Markdown preview in VS Code.
            <ul>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/09/code-block-syntax-highlighting-in-markdown-with-scully/">Code block syntax highlighting in Markdown files with Scully</a>
                </li>
            </ul>
        </li>
        <li>
            Have a responsive layout that looks good on desktop or mobile.
            <ul>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/11/css-responsive-grid-layout/">Control the way your website looks on mobile with CSS grid layout</a>
                </li>
            </ul>
        </li>
        <li>
            Tags: add them to posts, add capability to sort and group and organize and search by tags
            <ul>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/11/scully-filter-posts-by-tag/">Filter blog posts by tag using Scully</a>
                </li>
            </ul>
        </li>
        <li>
            Make and add a custom Angular Material theme for the website
            <ul>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/09/modern-website-styling-with-angular-material/">Give your website modern styling with Angular Material</a>
                </li>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/09/adding-a-responsive-angular-material-toolbar/">Adding a responsive Angular Material toolbar to your website</a>
                </li>
            </ul>
        </li>
        <li>
            I really want to learn and understand Scully, since it is a tool I'm using a lot.
            <ul>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/09/scully-transfer-state-implementation/">Use Scully Transfer State to transition between the static and Angular versions of your website</a>
                </li>
                <li>
                    <a href="https://jeffschoonover.dev/posts/2020/11/remove-scripts-custom-scully-render-plugin/">Removing unneeded Scully scripts after disabling Angular with a custom plugin</a>
                </li>
            </ul>
        </li>
    </ul>

    <h2 id="routerbase-project">Routerbase project</h2>

    <ul>
        <li>
            How to structure the data.  Data modeling, database structure, what database to use and how to hook it up.  Conceptual modeling.  I know I want a database that stores data by objects and is not rigid - I do not want a SQL or relational database, rather something like MongoDB or even just json files.  But how to keep that data organized properly is the first task before I start any coding.</li>
        <li>
            Resizable layout windows. If I have columns in my app for different areas of the screen, the user should be
            able to move their mouse to the column border and move the border to resize a given column.</li>
        <li>
            Dynamically sizing d3 graphs based on window size - from pixels to percentage</li>
        <li>
            How to organize the JSON file with the saved data so it is easily searchable and useable </li>
        <li>
            Tags: add them to tasks, add capability to sort and group and organize and search by tags (repeat from
            website)</li>
        <li>
            Add a fast, comprehensive search bar, that starts returning results as you type, similar to <a
                href="https://joplinapp.org">Joplin's</a>
        </li>
        <li>
            Electron integration with Angular. Electron is a platform that lets you take a web app made with HTML, CSS
            and Javascript, and port it to the desktop as a Windows or Mac OS native program.</li>
        <li>
            Angular Modules, Components, Services, Directives, and any other major construct I missed. Especially I'd
            like to learn when I should use a module vs a component.</li>
        <li>
            Drag-and-drop capability for files to be associated with a particular step or task.</li>
        <li>
            View picture files directly in the app, view other files with their icons.</li>
        <li>
            Best way to manage state for this app. Maybe NgRx, maybe services? The state is all the data that can change
            how your app is displayed and works. So if you have a recipe book app, the current master list of recipes
            and ingredients as well as the current user's culinary preferences and what they just searched for would all
            be in the state. Seems important to have a good handle on!</li>
        <li>
            using surge or netlify to host demo of angular stuff on github</li>
        <li>
            Testing and debugging angular projects. That is a huge topic, but I want to learn the best and most
            important ways to debug my small, humble project.</li>
        <li>
            Angular: Event-Emitter vs Subject. Both of these are ways for certain parts or functions in your software to
            subscribe to events, i.e. be informed when a user clicks a button or something changes in a database. But
            when should I use one vs the other?</li>
        <li>
            Angular: Class vs Interface. What exactly are they and when should I use one vs the other?</li>
    </ul>

    <h2 id="other">Other</h2>

    <ul>
        <li>
            VS Code customization. Things like shortcuts, using Github in VS Code, etc. There is way more here than I am
            using
        </li>
        <li>
            Functional vs object oriented programming: I've heard these terms thrown around a lot and want to make sure
            I understand the difference between them
        </li>
        <li>
            Harvard Intro to Computer Science lectures (on <a href="https://youtu.be/F0WoVEr0-44">YouTube</a>)
        </li>
        <li>
            <a href="https://eloquentjavascript.net/">Eloquent Javascript</a> is a free book by Marijn Haverbeke
        </li>
        <li>
            The entire freecodecamp.org curriculum (I've just done their HTML, CSS and Javascript sections so far)
        </li>
        <li>
            Dynamic dashboards with D3 and Angular. D3 is a visualization library I'm learning for my software, but it
            does a lot more than I'm using it for. In particular people use it to show all on one page data that can
            change dynamically as the database gets updated, for example financial or manufacturing data in a plant,
            schedule estimates, quality metrics, and so forth.
        </li>
        <li>
            Docker - I've heard that Docker is a very common way to play with code in a "sandbox" on your computer, so
            in case something goes wrong your computer doesn't get messed up. Sounds like a good idea!
        </li>
    </ul>
</div>
<app-footer></app-footer>