<div class="container">
    <h2>Join Email List</h2>
  
    <p>
        Thanks for your interest in following my learn-to-code journey!  When you subscribe below, you'll get emails to your inbox about every week or so with the latest updates from the site.  I won't spam you or sell your email, and you can un-subscribe anytime.
    </p>
</div>
<div class="center">
    <iframe src="https://jeffschoonover.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
</div>
